.main-auth {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: auto;
    min-height: 100vh;
    background: linear-gradient(#D0EEFF, #FFF2E8);
}

.auth-card {
    width: 412px;
}

.container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.data-container {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.data-container:nth-child(3) {
    justify-content: flex-start;
}

.or-hr-wrapper {
    position: relative;
    text-align: center;
    font-size: 16px;
    padding-block: 13px 13px;
    text-transform: uppercase;
    color: #6b7280;
}

.or-hr {
    border: none;
    border-top: 1px solid #d1d5db;
    margin: 0;
}

.or-hr-label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 0 0.5rem;
}