@use '../../assets/styles/base/typography' as *;
@use '../../assets/styles/variables.scss' as *;
@use "sass:color";

//! потом убрать
.window {
    display: grid;
    grid-template-columns: 16rem 1fr;
    overflow: hidden;
    height: 100vh;
}

.dashboard {
    display: flex;
    flex-direction: column;
    gap: $space-lg;
    padding: $space-lg $space-md;
    overflow: auto;

    /* Header */
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__subtitle {
        color: $text-gray;
        @extend .text-xl;
        margin: 0;
    }

    &__add-btn {
        display: flex;
        align-items: center;
        gap: $space-sm;

        padding: $space-sm $space-md;
        background-color: $blue;
        color: $white;
        border-radius: $radius-sm;
        border: none;
        cursor: pointer;

        transition: background-color 0.2s ease;

        &:hover {
            background-color: color.adjust($blue, $lightness: -6%);
        }
    }

    /* Cards grid */
    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(13.75rem, 1fr));
        gap: $space-md;
    }

    /* Charts grid */
    &__charts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $space-lg;
    }
}

.card {
    background-color: $white;
    padding: $space-md;
    border-radius: $radius-md;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $text-gray;
        margin-bottom: 1rem;
    }

    &__title {
        font-size: $font-size-base;
        font-weight: 500;
    }

    &__value {
        font-size: $font-size-lg;
        font-weight: 600;

        &--blue {
            color: $blue;
        }

        &--green {
            color: $green;
        }

        &--red {
            color: $red;
        }
    }

    &__hint {
        margin-top: $space-xs;
        color: $text-gray;
        @extend .text-sm;
    }
}

.icon {
    &--blue {
        color: $blue;
    }

    &--green {
        color: $green;
    }

    &--red {
        color: $red;
    }
}

.payments {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.payment {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.75rem;
    background-color: $gray-50;
    border-radius: $radius-lg;

    &__name {
        margin-bottom: $space-sm;
    }

    &__category {
        font-size: $font-size-base;
        color: $text-gray;
    }

    &__right {
        text-align: right;

        h4 {
            margin-bottom: $space-sm;
        }

        span {
            font-size: $font-size-base;
            color: $text-gray;
        }
    }
}