@use '../../assets/styles/base/typography' as *;
@use '../../assets/styles/variables.scss' as *;

.report {
    display: flex;
    flex-direction: column;
    gap: $space-lg;
    padding: $space-lg 1rem;
    overflow: auto;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: $space-md;
    }

    &__subtitle {
        color: $text-gray;
        @extend .text-xl;
        margin: 0;
    }

    &__action {
        display: flex;
        flex-wrap: wrap;
        gap: $space-md;
        margin-top: $space-md;
    }
}

//! Filters
.report__filter {
    display: flex;
    flex-direction: column;
    row-gap: $space-xl;

    &-header {
        display: flex;
        justify-content: flex-start;
    }

    &-title {
        color: $text-gray;
    }

    &-items {
        display: flex;
        flex-wrap: wrap;
        gap: $space-lg;
    }

    &-item {
        flex: 1 1 12rem;
        min-width: 10rem;
    }
}

//! Summary Cards
.report__summary-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    gap: $space-lg;
}

.card {
    &__value {
        @extend .text-base;

        &--blue { color: $blue; }
        &--green { color: $green; }
        &--red { color: $red; }
        &--purple { color: $purple; }
    }
}

.icon {
    &--blue { color: $blue; }
    &--green { color: $green; }
    &--red { color: $red; }
    &--purple { color: $purple; }
}

//! Diagrams
.report__diagrams {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    gap: $space-md;
}

//? Top Categories
.top-categories {
    &__list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__item {
        margin-bottom: 0.5rem;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
    }

    &__name,
    &__value {
        color: #111827;
    }

    &__progress {
        width: 100%;
        background-color: #e5e7eb;
        border-radius: 9999px;
        height: 0.5rem;
    }

    &__progress-bar {
        height: 0.5rem;
        border-radius: 9999px;
    }
}