.welcome-modal {
    max-width: 26.25rem;
    font-family: 'Inter', sans-serif;
}

.welcome-description {
    color: #6b7280;
    margin-top: 0.25rem;
    margin-bottom: 0;
}

.welcome-content {
    padding: 1.25rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Cards */
.welcome-card {
    padding: 1.25rem;
    border-radius: 0.75rem;
}

.welcome-card h3 {
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-size: 1rem;
}

.welcome-card--gradient {
    background: linear-gradient(90deg, #eff6ff, #eef2ff);
    text-align: center;
}

.welcome-card--blue {
    background: rgba(231, 242, 254, 1);
    color: #5365A5;
}

.welcome-card--purple {
    background: rgba(249, 245, 254, 1);
    color: #521B86;

    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
}

.welcome-card--indigo {
    background: rgba(239, 242, 254, 1);
}

.welcome-card--indigo h3 {
    color: #302C80;
}

.welcome-footer-texto p {
    color: #596270;
}

.welcome-icon {
    color: #2563eb;
}

/* Grid */
.welcome-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
}

@media (max-width: 480px) {
    .welcome-grid {
        grid-template-columns: 1fr;
    }
}

.welcome-feature {
    display: flex;
    flex-direction: column;
    row-gap: 0.5625rem;

    border: 1px solid rgba(140, 140, 140, 1);
    border-radius: 0.9375rem;
    padding: 0.5rem 0.625rem;  
}

.welcome-feature .title,
.welcome-feature .text {
    margin: 0;
    font-size: 1rem;
}

.welcome-feature .text {
    color: var(--text-gary);
}

/* Steps */
.welcome-steps {
    list-style: none;
    padding: 0;
    margin: 0;

    font-size: 1rem;
    color: #223BB1;
}

.step:not(:last-child) {
    padding-bottom: 0.8125rem;
}

.step-number {
    width: 1.5rem;
    height: 1.5rem;
    background: #2563eb;
    color: #fff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.625rem;
}

/* Info box */
.info-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    gap: 0.75rem;
    padding: 0.875rem;
    border-radius: 0.625rem;
}

.info-box-content {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.CheckCircle--green {
    color: rgba(62, 163, 75, 1);
}

.info-box .title {
    margin: 0;
    font-weight: var(--weight-bold);
}

.info-box .text {
    margin: 0;
    margin-top: 0.8125rem;
}

.CheckCircle--orange,
.info-box .title--orange,
.info-box .text--orange {
    color: rgba(189, 74, 23, 1);
}

.info-box--green {
    background: #ecfdf5;
}

.info-box--orange {
    background: #fff7ed;
}

/* CheckboxItem */
.checkbox-item {
    display: flex;
    align-items: center;
    column-gap: 0.5625rem;
    cursor: pointer;
    background-color: #fff;
    border-radius: 0.9375rem;
    padding: 0.6875rem 0.625rem;
}

.checkbox-item:not(:last-child) {
    margin-bottom: 0.625rem;
}

.checkbox-item .title {
    margin: 0;
    font-weight: var(--weight-bold);
    color: #121827;
}

.checkbox-item .text {
    margin: 0;
    color: #596270;
}

/* Indicators */
.welcome-indicators {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.indicator {
    width: 0.5rem;
    height: 0.5rem;
    background: #d1d5db;
    border-radius: 999px;
    transition: 0.6s ease;
}

.indicator.active {
    width: 1.75rem;
    background: #2563eb;
}

/* ReportItem */
.report-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5625rem;
}

.emoji-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.8125rem;
    height: 1.8125rem;
    background-color: #F1E8FD;
    border-radius: 0.5625rem;
}

.report-item .title {
    margin: 0;
    font-weight: var(--weight-bold);
    font-size: 1rem;
}

.report-item .text {
    margin: 0;
    font-size: 1rem;
    margin-top: 0.25rem;
}

.info-box .title--green,
.info-box .text--green {
    color: rgba(65, 138, 77, 1);
}

/* Actions */
.welcome-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.welcome-actions-right {
    display: flex;
    flex-direction: row;
    column-gap: 0.625rem;
}

.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.4375rem;
    background: #242424;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.btn-primary:hover {
    background: #3b3737;
}

.btn-outline {
    border: 1px solid #d1d5db;
    background: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.btn-outline:hover {
    background: #f9fafb;
}

.btn-ghost {
    background: none;
    border: none;

    font-weight: var(--weight-bold);
    cursor: pointer;
}

.btn-ghost:hover {
    text-decoration: underline;
}