# Visual Studio
.vs/

# .NET
bin/
obj/
*.user
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
nul

# Node
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# IDE
.vscode/
.idea/
.DS_Store

# Env
*.env
.claude/
