@use '../../../assets/styles/variables.scss' as *;

.avatar {
    position: relative;
    display: flex;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;

    // Mobile-first размер
    width: 2.5rem;
    height: 2.5rem;

    @include respond(md) {
        width: 3rem; // 48px на планшете
        height: 3rem;
    }

    @include respond(lg) {
        width: 3.5rem; // 56px на десктопе
        height: 3.5rem;
    }
}

.avatar__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar__fallback {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    background-color: $color-border;
    color: $text-gray;
    font-size: 0.875rem;
    font-weight: 500;
}