/* ================================
    Colors
================================ */

$text-gray: #666363;
$color-text: #000000;

$blue: #2563eb;
$green: #0fcc35;
$red: #ef4444;
$yellow: #e1a312;
$purple: #c224ea;
$indigo: #5823e8;

$gray-600: #6b7280;
$gray-50: #f9fafb;
$white: #ffffff;

$border-input: #e5e7eb; // найти и заменитьть на $color-border
$color-border: #e5e7eb;
$color-focus-outline: rgba(99, 102, 241, 0.3);
$color-selection-bg: #6366f1;


/* ================================
    Typography (fluid ready)
================================ */

$font-size-base: 1rem; // 16px
$font-size-sm: 0.875rem; // 14px
$font-size-lg: 1.25rem; // 20px
$font-size-xl: 1.5rem; // 24px

$weight-regular: 400;
$weight-bold: 700;


/* ================================
    Spacing (rem for scalability)
================================ */

$space-xs: 0.25rem; // 4px
$space-sm: 0.5rem; // 8px
$space-md: 1rem; // 16px
$space-lg: 1.5rem; // 24px
$space-xl: 2rem; // 32px


/* ================================
    Radius
================================ */

$radius-sm: 0.375rem; // 6px
$radius-md: 0.75rem; // 12px
$radius-lg: 1rem; // 16px


/* ================================
    Shadow
================================ */

$shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
$shadow-md: 0 4px 12px rgba(0, 0, 0, 0.1);


/* ================================
    Breakpoints (mobile-first)
================================ */

$bp-sm: 480px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1440px;


/* ================================
    Media Query Mixin
================================ */

@mixin respond($breakpoint) {
    @if $breakpoint ==sm {
        @media (min-width: $bp-sm) {
            @content;
        }
    }

    @if $breakpoint ==md {
        @media (min-width: $bp-md) {
            @content;
        }
    }

    @if $breakpoint ==lg {
        @media (min-width: $bp-lg) {
            @content;
        }
    }

    @if $breakpoint ==xl {
        @media (min-width: $bp-xl) {
            @content;
        }
    }
}