@use '../../../assets/styles/theme.scss' as *;

.switch {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 2rem;
    height: 1.15rem;
    flex-shrink: 0;

    padding: 0.125rem;
    border-radius: 9999px;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;

    transition: background-color 0.2s ease, box-shadow 0.2s ease;

    &[data-state="unchecked"] {
        background-color: var(--switch-bg);
    }

    &[data-state="checked"] {
        background-color: var(--switch-bg-checked);
    }

    &:focus-visible {
        box-shadow: 0 0 0 0.1875rem var(--switch-focus);
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

.switch__thumb {
    pointer-events: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;

    background-color: var(--switch-thumb);
    transition: transform 0.2s ease;

    &[data-state="unchecked"] {
        transform: translateX(0);
    }

    &[data-state="checked"] {
        transform: translateX(0.875rem);
    }
}