@use '../../../assets/styles/variables.scss' as *;

.accordion {
    width: 100%;
}

.accordion__item {
    border-bottom: 1px solid $color-border;

    &:last-child {
        border-bottom: none;
    }
}

.accordion__trigger {
    width: 100%;
    padding: $space-md 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: $space-sm;

    background: none;
    border: none;
    cursor: pointer;

    font-size: 0.875rem;
    font-weight: 500;
    text-align: left;

    transition: background 0.2s ease;

    &:hover {
        text-decoration: underline;
    }

    /* планшеты и выше */
    @include respond(md) {
        font-size: 1rem;
    }
}

.accordion__icon {
    flex-shrink: 0; // чтобы иконка не сжималась
    transition: transform 0.2s ease;
}

.accordion__item.is-open .accordion__icon {
    transform: rotate(180deg);
}

.accordion__content {
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.accordion__content-inner {
    padding-bottom: $space-md;
    font-size: 0.875rem;
    color: $gray-600;

    @include respond(md) {
        font-size: 1rem;
    }
}