:root {
    /* Общие переменные для Onboarding */
    --onboarding-block-bg-alpha: 0.44;
    /* Общая прозрачность для фонов блоков */

    /* Цвета фона блоков Onboarding */
    --onboarding-block-bg-color-1-rgb: 201, 224, 253;
    /* R, G, B для первого блока */
    --onboarding-block-bg-color-2-rgb: 201, 253, 204;
    /* R, G, B для второго и пятого блока */
    --onboarding-block-bg-color-3-rgb: 243, 188, 250;
    /* R, G, B для третьего блока */
    --onboarding-block-bg-color-4-rgb: 255, 213, 191;
    /* R, G, B для четвертого блока */

    /* Цвета иконок Onboarding */
    --onboarding-icon-color-blue: #0765FE;
    --onboarding-icon-color-green: #3FD04B;
    --onboarding-icon-color-ping: #CC2FE0;
    --onboarding-icon-color-orange: #E7580B;
}

.onboarding {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    padding-block: 1.875rem;
    background: linear-gradient(#D0EEFF, #FFF2E8);
}

.onboarding__header-inf {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.onboarding__header-inf:first-child {
    justify-self: start;
    text-align: start;
    align-items: center;
}

.onboarding__header-title {
    text-align: start;
}

.onboarding__header-steps {
    color: var(--text-gary);
}

.onboarding__header-precent {
    justify-self: end;
    text-align: right;
    align-items: center;
    color: #224EEC;
}

/*! Step 1: Welcome */

.onboarding__content-descriptions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 0.625rem;
    margin-top: 0.625rem;
    padding-block: 1.4375rem;
}

.onboarding__content-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.3rem;
    height: 4.3rem;
    border-radius: 50%;
}

.onboarding__content-icon.blue {
    background-color: rgba(var(--onboarding-block-bg-color-1-rgb), var(--onboarding-block-bg-alpha));
}

.onboarding__content-blue {
    width: 2rem;
    height: 2rem;
    color: var(--onboarding-icon-color-blue);
}

.onboarding__content-title,
.onboerding__content-description,
.onboarding__info-title,
.onboarding__currncy-name,
.onboarding__currncy-designation,
.onboarding__account-choose-text,
.onboarding__data-currency,
.onboarding__data-description,
.onboarding__categories-categiry-text {
    color: var(--text-gary);
    margin-block: 0;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
}

.onboarding__content-title {
    font-weight: 700;
}

.onboarding__data {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0.625rem;
}

.onboarding__data-lable {
    font-weight: bold;
}

.onboarding__data-input {
    width: 42.8rem;
    height: 3.1rem;
    background-color: #EBEBEB;
    padding-block: 0;
    border: none;
    text-align: center;
}

.onboarding__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
}

.onboarding__info-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 0.8125rem;
    width: 12.8125rem;
    height: 6.625rem;
    padding-block: 0.875rem;
    border-radius: 0.9375rem;
}

.onboarding__info-block:nth-child(1) {
    background-color: rgba(var(--onboarding-block-bg-color-1-rgb), var(--onboarding-block-bg-alpha));
}

.onboarding__info-block:nth-child(2) {
    background-color: rgba(var(--onboarding-block-bg-color-2-rgb), var(--onboarding-block-bg-alpha));
}

.onboarding__info-block:nth-child(3) {
    background-color: rgba(var(--onboarding-block-bg-color-3-rgb), var(--onboarding-block-bg-alpha));
}

.onboarding__info-icon {
    width: 2.8125rem;
    height: 2.4375rem;
}

.onboarding__info-icon.wallet {
    color: var(--onboarding-icon-color-blue);
}

.onboarding__info-icon.dollarSing {
    color: var(--onboarding-icon-color-green);
}

.onboarding__info-icon.tag {
    color: var(--onboarding-icon-color-ping);
}

/*! Step 2: Currency */

.onboarding__content-icon.green {
    background-color: rgba(var(--onboarding-block-bg-color-2-rgb), var(--onboarding-block-bg-alpha));
}

.onboarding__content-green {
    width: 2rem;
    height: 2rem;
    color: var(--onboarding-icon-color-green);
}

.onboarding__currency-choice {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1.5rem;
    padding: 0.625rem;
}

.onboarding__currncy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 1.5625rem 0.625rem;
    border-radius: 0.9375rem;
    cursor: pointer;
}

.onboarding__variant-type--default {
    background-color: white;
    border: 0.0625rem solid #808080;
}

.onboarding__variant-type--default:hover {
    background-color: #f6f6f6;
}

.onboarding__variant-type--active {
    background-color: #E7F2FE;
    border: 0.125rem solid #2C5CF2;
}

.onboarding__currncy-text {
    display: flex;
    flex-direction: column;
    justify-self: start;
    text-align: start;
    align-items: start;
    row-gap: 0.625rem;
}

.onboarding__currncy-icon,
.onboarding__categories-icon {
    justify-self: end;
    align-self: center;
    padding-right: 1.3125rem;
    color: #2C5CF2;
}

.onboarding__currncy-text {
    font-size: 1rem;
}

/*! Step 3: First Account */

.onboarding__content-icon.ping {
    background-color: rgb(var(--onboarding-block-bg-color-3-rgb));
}

.onboarding__content-ping {
    width: 2rem;
    height: 2rem;
    color: var(--onboarding-icon-color-ping);
}

.onboarding__account-type-text,
.onboarding__categories-type-text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: #000;
    text-align: start;
}

.onboarding__account-variant {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6.8125rem 6.8125rem;
    gap: 1.6875rem;
    padding: 0.625rem;
}

.onboarding__account-choose {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 0.5rem;
    text-align: center;
    border-radius: 0.9375rem;
}

.onboarding__account-choose-icon {
    font-size: 1.5rem;
}

.onboarding__data-input-box {
    position: relative;
}

.onboarding__data-input {
    text-align: start;
}

.onboarding__data-currency {
    position: absolute;
    top: 1.25rem;
    right: 0.8125rem;
}

.onboarding__data-description {
    margin-block: 0.625rem;
    font-weight: 600;
}

/*! Step 4: Categories */

.onboarding__content-icon.orange {
    background-color: rgb(var(--onboarding-block-bg-color-4-rgb));
}

.onboarding__content-orange {
    width: 2rem;
    height: 2rem;
    color: var(--onboarding-icon-color-orange);
}

.onboarding__categories {
    display: flex;
    flex-direction: column;
}

.onboarding__account-categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.6875rem;
    padding: 0.625rem;
}

.onboarding__categories-categiry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20.125rem;
    height: 3.8125rem;
    border-radius: 0.9375rem;
    padding-left: 1.25rem;
}

.onboarding__categories-categiry-icon {
    font-size: 1rem;
}

/*! Step 5: Complete */

.onboarding__content-icon.green {
    background-color: rgb(var(--onboarding-block-bg-color-2-rgb));
}

.onboarding__content-green {
    width: 2rem;
    height: 2rem;
    color: var(--onboarding-icon-color-green);
}

.onboarding__complete-info {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 0.625rem;
    width: 40.5625rem;
    padding: 0.875rem 1.125rem;
    border-radius: 0.9375rem;
    background-color: rgba(239, 241, 241, 0.47);
}

.onboarding__complete-info-title {
    font-weight: bold;
    font-size: 1.25rem;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.onboarding__complete-info-list {
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    font-family: 'Inter', sans-serif;
    list-style: none;
}

.onboarding__complete-info-item {
    display: flex;
    justify-content: space-between;
}

.onboarding__complete-info-item:not(:last-child) {
    border-bottom: 0.0625rem solid rgba(187, 185, 185, 1);
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.onboarding__instructions-box {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 0.625rem;
    width: 40.5625rem;
    padding: 1.125rem;
    margin-top: 0.875rem;
    border-radius: 0.9375rem;
    background-color: rgba(231, 242, 254, 1);
}

.onboarding__instructions-title {
    font-weight: bold;
    font-size: 1.125rem;
    font-family: 'Inter', sans-serif;
    margin: 0;
    color: rgba(8, 61, 139, 1);
}

.onboarding__instructions-list {
    width: 100%;
    margin: 0;
    font-size: 1.125rem;
    font-family: 'Inter', sans-serif;
    color: rgba(9, 63, 157, 1);
}

/*! Button */

.onboarding__button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.625rem;
    margin-top: 1.25rem;
}

.onboarding__button .button {
    flex-grow: 0;
    flex-shrink: 0;
}

.onboarding__button.two-buttons {
    flex-direction: column;
    align-items: center;
}

.onboarding__button.three-buttons .button:nth-child(2) {
    margin-right: auto;
}

.onboarding__button.three-buttons {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.625rem;
}

.onboarding__button-start {
    border: none;
}