@use '../../../assets/styles/variables.scss' as *;
@use '../../../assets/styles/base/typography' as *;

.sidebar {
    width: 100%; // mobile-first — на маленьких экранах занимает всю ширину
    max-width: 256px; // на больших экранах ограничиваем ширину
    min-width: 200px; // чтобы не сжималось слишком сильно
    height: auto; // высота адаптивная
    font-family: 'Inter', sans-serif;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);

    @include respond(md) {
        width: 256px; // фиксированная ширина на планшет/десктоп
        height: 100vh;
    }
}

.sidebar__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: $space-sm;
    padding: $space-lg;
    width: 100%;
    height: auto;

    @include respond(md) {
        height: 100%; // только на больших экранах
    }
}

.sidebar__header {
    padding-bottom: $space-sm;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar__title {
    color: $color-text;
    text-align: center;
}

.sidebar__menu {
    display: flex;
    flex-direction: column;
    row-gap: $space-xs;

    li {
        width: 100%;

        button {
            width: 100%;
        }
    }
}

.sidebar__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: $space-sm;
    padding: $space-sm $space-md;
    font-size: 0.875rem;
    font-weight: 500;
    color: $text-gray;
    cursor: pointer;

    &:hover,
    &--active {
        background-color: rgba(231, 242, 254, 1);
        color: rgba(17, 90, 219, 1);
        border-radius: $radius-sm;
        text-decoration: none;
    }
}

.sidebar__menu li:nth-child(8) .sidebar__item,
.sidebar__footer {
    padding-top: $space-sm;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar__help {
    width: 100%;
}

.sidebar__logout {
    width: 100%;
    color: rgba(213, 95, 90, 1);

    &:hover {
        background-color: rgba(254, 231, 230, 1);
        border-radius: $radius-sm;
    }
}